{% unless page.title == "Home"  %}
    <a class="link mx-1" href="/" data-replace="Home"><span class="p-0" style="font-size:xx-large;">Home</span></a>
{% endunless %}
{% unless page.title == "Distractions"  %}
<a class="link mx-1" href="/distract" data-replace="Distractions"><span class="p-0" style="font-size:xx-large;">Distractions</span></a>
{% endunless %}
{% unless page.title == "Decision Fatigue"  %}
<a class="link mx-1" href="/decide-fatigue" data-replace="Decision Fatigue"><span class="p-0" style="font-size:xx-large;">Decision Fatigue</span></a>
{% endunless %}
{% unless page.title == "Navigation"  %}
<a class="link mx-1" href="/navigation" data-replace="Navigation"><span class="p-0" style="font-size:xx-large;">Navigation</span></a>
{% endunless %}
{% unless page.title == "Information Presentation"  %}
<a class="link mx-1" href="/info-present" data-replace="Information Presentation"><span class="p-0" style="font-size:xx-large;">Information Presentation</span></a>
{% endunless %}