---
layout: default
---

<div style="margin: 3%; margin-top: 100px;">
    <h1 class="display-4">Decision Fatigue</h1>
    <p class="mt-4">
        When someone has ADHD, decision fatigue happens significantly. Decision fatigue is when someone is unable to make a decision due to outside factors. Decision fatigue happens when someone is under stress. People can feel overwhelmed when dealing with ADHD. How does all of this connect with making a website? Developers have to consider not stressing users with factors like timers when asking for user decisions on a website. Users want simple designs. Having a simple design can ensure users with ADHD to make better and faster decisions while clicking on elements. The more the user takes time to make a decision or try to find a specific element they lose focus and the user can make mistakes making it hard for them to make a conclusive decision.
    </p>
</div>