---
layout: default
---

<div style="margin: 5%; margin-top: 100px;">
    <h1 class="display-4">Distractions</h1>
    <p class="mt-4">
        <img src="/assets/images/decision_fatigue.png" width="300" height="300" style="float: right;">
        &emsp;Distractions are inevitable when it comes to ADHD and websites. A lot of distractions come from websites that have moving or flashy media. Some other less intuitive distractions are videos that automatic begin playing and unexpected sounds playing. When making a website, the developer should avoid having moving images on the page. When a user has to focus on reading and understanding the information it gets difficult when the website contains moving images or even pop-ups. Although this can be difficult with ADHD, website developers can avoid this by making sure all of the moving elements can be controlled by the user.
    </p>
</div>