/* Below is the CSS code for the fancy hyperlinks */

a.link {
    background-image: linear-gradient(
        to right,
        var(--nav-active),
        var(--nav-active) 50%,
        var(--nav-color) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 2px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
    
a.link:before {
    content: '';
    background: var(--nav-active);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
  
a.link:hover {
    background-position: 0;
}
  
a.link:hover::before {
    width:100%;
}